
import java.nio.file.Paths

params {
	config_dir = "conf"
	nextflow_dir = "nextflow"
	out_dir = "results"
	nextflow_required_version = "22.04.0"
}

report {
	enabled = true
	file = "${params.nextflow_dir}/report.html"
}

timeline {
	enabled = true
	file = "${params.nextflow_dir}/timeline.html"
}

trace {
	enabled = true
	file = "${params.nextflow_dir}/trace.txt"
}

dag {
	enabled = true
	file = "${params.nextflow_dir}/dag.dot"

}

includeConfig "${params.config_dir}/default.config"
includeConfig "${params.config_dir}/highmem.profile"
includeConfig "${params.config_dir}/local.profile"

