
/*
 * docker containers pulled by singularity
 */

process {

	withLabel: plot {
		container = "docker://bahnk/python:v1"
	}
	
	withLabel: sequencing {
		container = "docker://bahnk/sequencing:v1"
	}
	
	withLabel: python {
		container = "docker://bahnk/python:v1"
	}
	
	withLabel: samtools {
		container = "docker://bahnk/samtools:v1"
	}
	
	withLabel: slideseq_tools {
		container = "docker://bahnk/sequencing:v2"
	}
	
	withName: star {
		container = "docker://bahnk/old-star:v1"
	}
	
	withLabel: gpu {
		container = "docker://bahnk/seqgpu:v1"
	}
}

