
/*
 * high memory nodes for certain processes
 */

process {

	withName: star {
	
		executor = "slurm"
		cpus = 24
		memory = "300G"
		time = "10:00:00"
		clusterOptions = "--partition=hmem"
	}
	
	withName: mark_duplicates {
	
		executor = "slurm"
		cpus = 24
		memory = "400G"
		time = "10:00:00"
		clusterOptions = "--partition=hmem"
	}
	
	withName: bam_tag {
	
		executor = "slurm"
		cpus = 32
		memory = "600G"
		time = "24:00:00"
		clusterOptions = "--partition=hmem"
	}
	
	withName: umis_per_barcode {
	
		executor = "slurm"
		cpus = 32
		memory = "600G"
		time = "24:00:00"
		clusterOptions = "--partition=hmem"
	}
	
	withName: select {
	
		executor = "slurm"
		cpus = 32
		memory = "600G"
		time = "24:00:00"
		clusterOptions = "--partition=hmem"
	}
}

