import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp --nv"
}

process {

	publish_mode = "copy"
	publish_overwrite = true

	executor = "slurm"
	cpus = 2
	memory = "60G"
	time = "12:00:00"

	errorStrategy = "finish"
	
	publishDir = [
		path: { Paths.get( params.out_dir ) },
		mode: publish_mode,
		overwrite: publish_overwrite
	]

	////////////////////////////////////////////////////////////////////////////
	// CONTAINERS

	withLabel: plot {
		container = "docker://bahnk/python:v1"
	}

	withLabel: sequencing {
		container = "docker://bahnk/sequencing:v1"
	}

	withLabel: python {
		container = "docker://bahnk/python:v1"
	}

	withLabel: samtools {
		container = "docker://bahnk/samtools:v1"
	}

	withLabel: slideseq_tools {
		container = "docker://bahnk/sequencing:v2"
	}

	////////////////////////////////////////////////////////////////////////////
	// GPU

	withLabel: gpu {

		container = "docker://bahnk/seqgpu:v1"

		executor = "slurm"
		clusterOptions = "--partition=gpu --gres=gpu:1"
		memory = "60G"
	}


	////////////////////////////////////////////////////////////////////////////
	// STAR

	withName: star {

		container = "docker://bahnk/old-star:v1"

		executor = "slurm"
		cpus = 24
		memory = "300G"
		time = "10:00:00"
		clusterOptions = "--partition=hmem"
	}

	////////////////////////////////////////////////////////////////////////////

	withName: mark_duplicates {

		executor = "slurm"
		cpus = 24
		memory = "400G"
		time = "10:00:00"
		clusterOptions = "--partition=hmem"
	}

	withName: bam_tag {

		executor = "slurm"
		cpus = 8
		memory = "80G"
	}

	withName: bam_tag_hmem {

		executor = "slurm"
		cpus = 32
		memory = "600G"
		time = "24:00:00"
		clusterOptions = "--partition=hmem"
	}

	withName: umis_per_barcode {

		executor = "slurm"
		cpus = 32
		memory = "600G"
		time = "24:00:00"
		clusterOptions = "--partition=hmem"
	}

	withName: bam_metrics {

		cpus = 8
		executor = "slurm"
		memory = "80G"
	}

	/*
	withName: bam_metrics_hmem {

		cpus = 32
		executor = "slurm"
		memory = "400G"
		time = "10:00:00"
		clusterOptions = "--partition=hmem"
	}
	// */

}

